.form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.input {
	display: block;
	border: none;
	border-radius: 5px;
	padding: 8px;
	
	
}

.textarea {
	resize: none;
	margin: 13px 0;
}

.submit {
	width: 102px;
	background: #0079BF;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 4px 9px;
	cursor: pointer;
	font-size: 18px;
    line-height: 21px;
	margin: 10px 0px 10px;
}

.submit:hover {
	background: #5d7194;
}
